@font-face {
	font-family: 'CutTheCrap';
	src: url('../fonts/Cut the crap.ttf');
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Maven Pro', sans-serif;
	background: url('../img/blackorchid.png');
}

.title {
	font-family: 'CutTheCrap';
	text-shadow: rgb(227, 185, 50) 0px 0px 20px;
	text-align: center;
	font-size: 70px;
	color: #E39B14;
}

.game-canvas {
	border: 1px solid #333333;
	cursor: url('../img/target.png') 10 10, auto;
	display: block;
	margin: 35px auto 20px auto;
	box-shadow: 0px 0px 20px 0px rgba(252,252, 252, 0.2);
	border-radius: 3px;
}

.name {
	margin: 10px;
}

.chat {
	margin-top: 10px;
	width: 400px;
	font-size: 15px;
}

.message-box {
	padding: 0 5px;
	border-radius: 3px;
	background-color: #dddddd;
	height: 275px;
	overflow-y: scroll;
}

input {
	font-family: 'Maven Pro', sans-serif;
}

input[type="text"] {
	padding-left: 5px;
	height: 24px;
	border-radius: 3px;
	background-color: #dddddd;
	border: none;
}

.settings {
	padding-left: 20px;
	position: absolute;
}

.settings label {
	color: #E39B14;
	margin-right: 10px;
}

label[for="chat"] {
	display: block;
	margin-top: 20px;
}

.name-input {
}

.message-input {
	margin-top: 10px;
	width: 321px;
}

.message-input:focus {
	transition: all 0.15s ease-in-out;
	box-shadow: 0px 0px 10px 0px rgba(100,100, 252, 1);
}

.message-submit {
	float: right;
	margin-top: 10px;
	margin-left: 3px;
	height: 24px;
	width: 67px;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.message-submit:hover {
	transition: all 0.15s ease-in-out;
	box-shadow: 0px 0px 10px 0px rgba(100,100, 252, 1);
}

.footer {
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 50px;

	color: #dddddd;
}

.footer div {
	text-align: center;
}

.stats {
	position: absolute;
	right: 100px;
	color: #dddddd;
}

.stats p {
	color: #E39B14;
	font-size: 20px;
	text-align: center;
}

.stats table th {
	height: 30px;
}

.stats .frag-slot {
	width: 30px;
}

.stats table td {
	text-align: center;
	width: 120px;
}